.header{
  height: 50px;
  line-height: 50px;
  background-color: #0096d0;
  color: #fff;

  header{
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }

  .user-box{
    top: 0;
    right:0;
    position: absolute;

    .user-name{
      font-size: .8rem;
      display: inline;
    }

    a{
      color: #fff;
      font-weight: lighter;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    button{
      margin: 0 5px;
    }
  }
}
