.main{
  min-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;


  h2{
    font-size: 1.3em;
    padding: 15px 0;

    b{
      font-weight: bold;
    }
  }
}

.push20pxdown{
  margin-top:30px;
}