<div class="content">


    <div class="mainbar">
        <div class="page-head">
            <!-- Page heading -->


            <h2 id="editNameDiv" class="underline-me pull-left">{{vm.role.name}}</h2>
            <div class="bread-crumb pull-right">
                <a ng-click="vm.deleteRole(vm.id);"
                   tooltip="Click to remove the Current Role"
                   tooltip-placement="left"
                   tooltip-trigger="mouseenter"><h1 class="fa fa-remove delete"></h1></a>
            </div>

            <div class="clearfix"></div>

            <strong ng-show="!vm.role">Loading...</strong>
        </div>

        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="widget wlightblue">
                            <!-- Widget title -->

                            <div class="widget-content">
                                <!-- Widget content -->

                                <table class="table  table-bordered ">
                                    <tbody><tr>

                                    <tr>
                                        <td>Role Name</td>
                                        <td>
                                            <span ng-show="!vm.editName" ng-click="vm.editNameFunc();" class="underline-me">{{vm.role.name}}</span>
                                            <input ng-model="vm.role.name" type="text"  ng-show="vm.editName" id="editNameInput"
                                                   ng-keydown="vm.checkKey($event, 'name');"/>
                                        </td>
                                        <td>
                                            <div id="editNameButtonDiv" class="pull-left">
                                                <a class="fa fa-edit" ng-show="!vm.editName" ng-click="vm.editNameFunc();"></a>
                                            </div>
                                            <div ng-show="vm.editName">
                                                <a class="fa fa-save" ng-click="vm.saveName();"
                                                   tooltip="Click to save the new Role Name"
                                                   tooltip-placement="bottom"
                                                   tooltip-trigger="mouseenter"></a>
                                                <a class="fa fa-remove" ng-click="vm.editName=false;"
                                                   tooltip="Click to cancel edition of the Role Name"
                                                   tooltip-placement="bottom"
                                                   tooltip-trigger="mouseenter"></a>
                                            </div>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget wlightblue">
                                <!-- Widget title -->
                                <div class="widget-head">
                                    <div class="pull-left">Endpoints</div>
                                    <div class="widget-icons pull-right">
                                        <a class="fa fa-plus" ng-click="vm.addEndpoint();"
                                           tooltip="Add an existing Endpoint to the current Role"
                                           tooltip-placement="bottom"
                                           tooltip-trigger="mouseenter"></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <strong ng-show="!vm.role.permissions">Loading...</strong>
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchRole">
                                    </form>
                                    <!-- Widget content -->
                                    <table class="table table-bordered table-responsive">

                                        <tbody>
                                        <tr ng-repeat="endpoint in vm.role.permissions | filter:vm.searchRole">
                                            <td class="roleNameColumn">
                                                <a ui-sref="endpointDetails( {id: endpoint.id} )" class="underline-me"> <span ng-bind="endpoint.description"></span></a>
                                            </td>
                                            <td id="fdib" class="fdib">
                                                <a id="delete-input-btn" class="fa fa-remove" ng-click="vm.deleteEndpoint(endpoint.id);"
                                                   tooltip="Remove this Endpoint from the current Role"
                                                   tooltip-placement="bottom"
                                                   tooltip-trigger="mouseenter"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget wlightblue">
                                <!-- Widget title -->
                                <div class="widget-head">
                                    <div class="pull-left">Users</div>
                                    <div class="widget-icons pull-right">
                                        <a class="fa fa-plus" ng-click="vm.addUser();"
                                           tooltip="Add an existing User to the current Role"
                                           tooltip-placement="bottom"
                                           tooltip-trigger="mouseenter"></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <strong ng-show="!vm.role.users">Loading...</strong>
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchUser">
                                    </form>
                                    <!-- Widget content -->
                                    <table class="table table-bordered table-responsive">

                                        <tbody>
                                        <tr ng-repeat="user in vm.role.users | filter:vm.searchUser">
                                            <td>
                                                <a ui-sref="userDetails( {id: user.id} )"> <span ng-bind="user.username"></span></a>
                                            </td>
                                            <td>
                                                <div id="fdibUsr" class="fdib">
                                                    <a id="delete-input-btnUsr" class="fa fa-remove" ng-click="vm.deleteUser(user.id);"
                                                       tooltip="Remove this User from the current Role"
                                                       tooltip-placement="bottom"
                                                       tooltip-trigger="mouseenter"></a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="widget wlightblue">
                                <!-- Widget title -->
                                <div class="widget-head">
                                    <div class="pull-left">Field Permissions</div>
                                    <div class="widget-icons pull-right">
                                        <a class="fa fa-plus" ng-click="vm.addFieldsFilter();"
                                           tooltip="Create a new field permission in the current Role"
                                           tooltip-placement="bottom"
                                           tooltip-trigger="mouseenter"></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget-content">
                                    <strong ng-show="!vm.permissions">Loading...</strong>
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchPermission">
                                    </form>
                                    <!-- Widget content -->
                                    <table class="table table-bordered table-responsive">

                                        <tbody>
                                        <tr ng-repeat="permission in vm.permissions | filter:vm.searchPermission">
                                            <td class="roleNameColumn">
                                                <a ui-sref="fieldsFilterDetails( {id: permission.id} )" class="underline-me"> <span ng-bind="permission.className"></span></a>
                                            </td>
                                            <td class="roleNameColumn">
                                                <span ng-bind="permission.propertyName"></span>
                                            </td>
                                            <td class="roleNameColumn">
                                                <span ng-bind="permission.action"></span>
                                            </td>
                                            <td>
                                                <a class="fa fa-edit" ng-click="vm.editFieldsFilter(permission);"
                                                   tooltip="Edit this field permission"
                                                   tooltip-placement="bottom"
                                                   tooltip-trigger="mouseenter"></a>
                                                <a class="fa fa-remove" ng-click="vm.deleteFieldsFilter(permission.id);"
                                                   tooltip="Remove this field permission from the current Role"
                                                   tooltip-placement="bottom"
                                                   tooltip-trigger="mouseenter"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="itemEndpoint.html">
    <div class="widget wgreen">
        <!-- Widget title -->
        <div class="widget-head">
            <div class="pull-left">Select Endpoints</div>
            <div class="widget-icons pull-right">
                <a class="fa fa-close" ng-click="closeThisDialog()"></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <strong ng-show="!vm.allEndpoints">Loading...</strong>
            <!-- Widget content -->
            <form>
                <input type="text" class="form-control" placeholder="Search..." ng-model="vm.searchEndpoints">
            </form>
            <ul class="activity">
                <li ng-repeat="endpoint in vm.allEndpoints | filter:vm.searchEndpoints track by endpoint.id">
                    <input type="checkbox" ng-click="vm.toggleOptionPermission(endpoint.id)"/>
                    <strong ng-bind="endpoint.description"></strong>
                </li>
            </ul>

        </div>
    </div>
</script>

<script type="text/ng-template" id="itemUser.html">
    <div class="widget wgreen">
        <!-- Widget title -->
        <div class="widget-head">
            <div class="pull-left">Select Users</div>
            <div class="widget-icons pull-right">
                <a class="fa fa-close" ng-click="closeThisDialog()"></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <strong ng-show="!vm.allUsers">Loading...</strong>
            <!-- Widget content -->
            <form>
                <input type="text" class="form-control" placeholder="Search" ng-model="vm.searchUsers">
            </form>
            <ul class="activity">
                <li ng-repeat="user in vm.allUsers | filter:vm.searchUsers track by user.id ">
                    <input type="checkbox" ng-click="vm.toggleOptionUser(user.id)"/>
                    <strong ng-bind="user.userName"></strong>
                </li>
            </ul>

        </div>
    </div>
</script>

<script type="text/ng-template" id="itemFieldsFilter.html">
    <div class="widget wgreen">
        <!-- Widget title -->
        <div class="widget-head">
            <div class="pull-left">Assign Field Filter</div>
            <div class="widget-icons pull-right">
                <a class="fa fa-close" ng-click="closeThisDialog()"></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <!-- Widget content -->
            <div class="padd">
                <h6>Property constraint</h6>
                <hr>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Class</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="vm.sp"
                                    ng-options="sp.typeName for sp in vm.allSecurableProperties track by sp.typeName" ng-change="vm.setProperties()">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Property</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="vm.selectedProperty.property"
                                    ng-options="property for property in vm.allProperties track by property">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Action</label>
                        <div class="col-md-8">
                            <select class="form-control"
                                    ng-model="vm.selectedProperty.action" ng-change="vm.save()">
                                <option value="setToNull">Set to Null</option>
                                <option value="setToString">Set to String</option>
                                <option value="remove">Remove</option>
                            </select>
                            <input type="text" ng-show="vm.selectedProperty.action==='setToString'" ng-model="vm.selectedProperty.substitutionText"/>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="form-group">
                        <!-- Buttons -->
                        <div class="col-md-push-5 col-md-7">
                            <button type="submit" class="btn btn-info" ng-click="vm.addFieldFilterItem();closeThisDialog();" ng-show="vm.ffMode==='Add'">{{vm.ffMode}}</button>
                            <button type="submit" class="btn btn-info" ng-click="vm.updateFieldFilterItem();closeThisDialog();" ng-show="vm.ffMode==='Update'">{{vm.ffMode}}</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</script>
