<div class="content">


    <div class="mainbar">
        <div class="page-head">

            <h2 class="pull-left">Roles

            </h2>

            <div class="bread-crumb pull-right">
                <div class="addButton">
                    <a class="fa fa-plus" ng-click="vm.addRole();" data-toggle="tooltip" title="Add new Role"
                       class="underline-me"
                       tooltip="Add a new Role"
                       tooltip-placement="left"
                       tooltip-trigger="mouseenter"></a>
                </div>
            </div>
        </div>


        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <strong ng-show="!vm.roles">Loading...</strong>
                        <div class="widget widget wlightblue">

                            <div class="widget-content">
                                <!-- Search form -->
                                <div class="sidebar-widget">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.search">
                                    </form>
                                </div>
                                <div class="table-responsive">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Role</th>
                                            <th># Endpoints</th>
                                            <th># Users</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="role in vm.roles | filter:vm.search">
                                            <td>
                                                <a ui-sref="roleDetails( {id: role.id} )"> <span ng-bind="role.name" class="underline-me"></span></a>
                                            </td>
                                            <td>
                                                <a ui-sref="roleDetails( {id: role.id} )"><span class="strong" ng-bind="role.permissionNames.length" class="underline-me"></span></a>
                                            </td>
                                            <td>
                                                <a ui-sref="roleDetails( {id: role.id} )"><span class="strong" ng-bind="role.userIds.length" class="underline-me"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
