<div class="content">


    <div class="mainbar">
        <div class="page-head">

            <!-- Page heading -->
            <h2 class="pull-left">Endpoints</h2>

            <div class="bread-crumb pull-right">
                <div class="addButton">
                    <a class="fa fa-plus" ng-click="vm.addEndpoint();"
                       tooltip="Add a new Endpoint"
                       tooltip-placement="left"
                       tooltip-trigger="mouseenter"></a>
                </div>
            </div>
        </div>


        <div class="matter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <strong ng-show="!vm.endpoints">Loading...</strong>
                        <div class="widget widget wlightblue">

                            <div class="widget-content">
                                <!-- Search form -->
                                <div class="sidebar-widget">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="vm.search">
                                    </form>
                                </div>
                                <div class="table-responsive">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Method</th>
                                            <th>Description</th>
                                            <th>Endpoint</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="endpoint in vm.endpoints | filter:vm.search">
                                            <td>
                                                <span class="httpMethod methodPost" ng-show="endpoint.method==='POST'">POST</span>
                                                <span class="httpMethod methodPut" ng-show="endpoint.method==='PUT'">PUT</span>
                                                <span class="httpMethod methodGet" ng-show="endpoint.method==='GET'">GET</span>
                                                <span class="httpMethod methodDelete" ng-show="endpoint.method==='DELETE'">DELETE</span>
                                            </td>
                                            <td>
                                                <a ui-sref="endpointDetails( {id: endpoint.id} )"> <span ng-bind="endpoint.description"></span></a>
                                            </td>
                                            <td>
                                                <a ui-sref="endpointDetails( {id: endpoint.id} )"> <span ng-bind="endpoint.endpoint"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>