.editButton{
  border-style: none!important;
  background-color: transparent!important;
  width: 24px!important;
  height: 24px!important;
  cursor: pointer!important;
  padding:0!important;
  margin:0!important;
}