.page-title{
  font-size: 3em;
  font-weight: lighter;
  position: relative;
  margin-left: 100px;
  margin-top:100px;
}

.page-subtitle {
  font-size: 1.1em;
  font-color: 0096 D0;
  font-weight: lighter;
}
.subtitle{
  font-size: 0.8rem;
  margin-top: 50px;
}

.page-subcontent{
    margin-top: 70px;
  }
